
@media  (max-width: 1199px){

    /* hero section start */

    .herocontent-area h4{
        font-size: 15px;
        
    }

     /* hero section end */

     .about-mainarea h1::after{
        width: 38%;
        left: 32%;
    }
    .service-header h1::after{
        width: 38%;
        left: 32%;
    }
    .contactus-header h1::after{
        width: 38%;
        left: 32%;
    }

}

@media  (max-width: 992px){

    /* toggle bar area start */

    .toggle{
        display: block;
        animation: togglebar .5s ease ;
        cursor: pointer;
    }
    @keyframes togglebar {
        0%{
            opacity: 0;
            transform: translateY(-100%);
        }
        100%{
            opacity: 1;
            transform: translateY(0%);
        }
    }

    /* toggle bar area end */

   
    /* nav item area start */
    
    .navmenuarea{
        left: -100%;
        flex-direction: column;
        row-gap: 40px;
        position: fixed;
        top: 100px;
        width: 100%;
        background: black;
        border-top: 2px solid gray;
        padding-top: 30px;
        height: 100vh;
    }
    #check:checked ~ .navmenuarea{
       left: 0;
       transition: .5s all ease;
        
    }
    .navlink{
        margin-top: 40px;
    }
    .navitem:nth-child(1){
        animation: navitem-1 .2s ease;
    }
    @keyframes navitem-1{
        0%{
            opacity: 0;
            transform: translateX(-100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0%);
        }
    }
    .navitem:nth-child(2){
        animation: navitem-2 .4s ease;
    }
    @keyframes navitem-2{
        0%{
            opacity: 0;
            transform: translateX(-100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0%);
        }
    }
    .navitem:nth-child(3){
        animation: navitem-3 .6s ease;
    }
    @keyframes navitem-3{
        0%{
            opacity: 0;
            transform: translateX(-100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0%);
        }
    }
    .navitem:nth-child(4){
        animation: navitem-4 .8s ease;
    }
    @keyframes navitem-4{
        0%{
            opacity: 0;
            transform: translateX(-100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0%);
        }
    }
    .navitem:nth-child(5){
        animation: navitem-5 1s ease;
    }
    @keyframes navitem-5{
        0%{
            opacity: 0;
            transform: translateX(-100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0%);
        }
    }

      /* nav item area start */

     /* search area star */

     @keyframes search-animation{
        0%{
            opacity: 0;
            transform: translateY(100%);
        }
        100%{
            opacity: 1;
            transform: translateY(0%);
        }
    }

    .responsivesearch{
    display: block;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    column-gap: 17px;
    animation: search-animation 1s ease;
    position: relative;
    }
    .searchboxresponsive{
        position: absolute;
        box-shadow: 0px 0px 10px 2px rgba(110,250,75,0.75);
        border-radius: 30px;
        top: 55px;
        right: 0;

    }

    .responsivesearchicon{
        display: none;
    }
    .searcharea{
        display: none;
    }
    .navbararea{
        display: flex;
        align-items: center;
        column-gap: 40px;
    }
    #searchcheckresponsive{
        display: none;
    }
    .searchboxresponsive{
        display: none;
    }
    #searchcheckresponsive:checked ~ .searchboxresponsive{
        display: block;
    }
    

    /* search area end */

    /* hero section start */

    .herocontent-area h1{
        font-size: 27px;
    }
    .herocontent-area h4{
        font-size: 12px;
    }
    

    /* hero section end */

    .service-main-content h1{
        font-size: 14px;
    }
    .moredetailsbtn{
        font-size: 11px;
        padding: 5px 10px;
       
    }
    .about-mainarea h1::after{
        width: 47%;
        left: 27%;
    }
    .service-header h1::after{
        width: 47%;
        left: 27%;
    }
    .contactus-header h1::after{
        width: 47%;
        left: 27%;
    }
    .name-section{
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }
    .contact-section{
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }
    .needed-option{
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 30px;
        row-gap: 30px;
    }
}

@media  (max-width: 767px){

    /* hero section start */

    .hero-mainarea{
        flex-direction: column-reverse;
    }
    .herocontent-area{
        width: 100%;
    }
    .hero-woner-photoarea{
        width: 30%;
    }

    /* hero section end */

    .responsiveservice{
        display: none;
    }
    .responsiveportfolio{
        display: none;
    }
    .responsiveservice600{
        display: block;
    }
    .about-mainarea h1::after{
        width: 61%;
        left: 19%;
    }
    .service-header h1::after{
        width: 61%;
        left: 19%;
    }
    .contactus-header h1::after{
        width: 61%;
        left: 19%;
    }
    .sendmessage-mainarea{
        margin-top: 30px;
    }
    .name-section{
        flex-direction: row;
    }
    .contact-section{
        flex-direction: row;
    }

}
@media  (max-width: 600px){


    /* hero section start */

    .herocontent-area h1 {
        font-size: 18px;
      }
      .herocontent-area h2{
        font-size: 14px;
        padding-top: 0;
      }
      .herocontent-area h3{
        font-size: 13px;
        padding-top: 0;
      }
      
    .herocontent-area p{
        font-size: 11px;
        padding-top: 15px;
        line-height: 102%;
    }
    .hero-woner-photoarea{
        width: 40%;
    }
    .herocontent-area h4{
        font-size: 12px;
        font-weight: 600;
        color: rgb(190, 206, 189);
        padding-top: 20px;
        overflow: hidden;
        white-space:normal;
        animation: write-line 2s ease;
    
    }
    @keyframes write-line{
        0%{
            opacity: 0;
            transform: translateX(100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0);
        }
       
    }

    /* hero section end */


    .about-mainarea h1::after{
        width: 79%;
        left: 10%;
    }
    .service-header h1::after{
        width: 79%;
        left: 10%;
    }
    .contactus-header h1::after{
        width: 79%;
        left: 10%;
    }

   
}
@media (max-width:515px) {
    .responsiveservice600{
        display: none;
    }
    .responsiveservice515{
        display: block;
    }
    .contact-way i{
        margin-right: 10px;
    }
    .contact-way a{
        font-size: 12px;
    }
    .name-section{
        flex-direction: column;
    }
    .contact-section{
        flex-direction: column;
    }
    
}
@media (max-width: 420px){
    .mainlogo{
        width: 50px;
    }
    .searchbar{
        padding: 7px;
    }
    .searchbar i {
        font-size: 20px;
    }
    .sign{
        font-size: 9px;
    }
    .sign:hover{
        font-size: 10px;
    }
    .sign:focus{
        color: antiquewhite;
        font-size: 10px;
        text-decoration: none;
    }
}

